.box {
    border-radius: 15px;
	height: 150px;
	background-color: #9DC0CC;
	margin-bottom: 15px;
}

.box:hover {
	background-color: #4089A1;
}

.boxsoundon {
	background-color: #96DBF2;
}

.col3 {
	background-color: red;
}