.box {
    border-radius: 15px;
	height: 150px;
	/*width: 25px;
	padding: 50px;*/
	background-color: #9DC0CC;
	margin-bottom: 15px;
}

.box:hover {
	background-color: #000000;
}

.boxsoundon {
	background-color: red;
}