<header class=container>
	<div class=row>
		<h1>drummerjs</h1>
		<button type=button class="btn btn-success" data-ng-click="hdrCtrl.startTimer(); hdrCtrl.startLoop = !hdrCtrl.startLoop; hdrCtrl.paused = false" data-ng-hide="hdrCtrl.startLoop"><span class="glyphicon glyphicon-play"></span></button>
		<button type=button class="btn btn-success" data-ng-click="hdrCtrl.pauseTimer(); hdrCtrl.paused = false;" data-ng-show="hdrCtrl.startLoop && hdrCtrl.paused == true"><span class="glyphicon glyphicon-play"></span></button>
		<button type=button class="btn btn-warning" data-ng-click="hdrCtrl.pauseTimer(); hdrCtrl.paused = true;" data-ng-show="hdrCtrl.startLoop && hdrCtrl.paused == false"><span class="glyphicon glyphicon-pause"></span></button>
		<button type=button class="btn btn-danger" data-ng-click="hdrCtrl.stopTimer(); hdrCtrl.startLoop = !hdrCtrl.startLoop" data-ng-disabled="!hdrCtrl.startLoop"><span class="glyphicon glyphicon-stop"></span></button>
		<button type=button class="btn btn-info" data-ng-click="hdrCtrl.clearPads()"><span class="glyphicon glyphicon-trash"></span></button>
		<button type=button class="btn btn-primary pull-right" data-ng-click="hdrCtrl.setSampleLoop(hdrCtrl.grinding)">Grinding</button>
	</div>
	<div class=row>
		<h3>BPM:</h3>
		<button type=button class="btn btn-danger" data-ng-click="hdrCtrl.bpm = hdrCtrl.bpm - 1" data-ng-disabled="hdrCtrl.startLoop"><span class="glyphicon glyphicon-minus"></span></button>
		<span data-ng-hide="hdrCtrl.startLoop">
        	<label data-ng-click="editing = !editing" data-ng-hide="editing">{{ hdrCtrl.bpm }}</label>
          	<input data-ng-blur="editing = false;" data-ng-show="editing" data-ng-model="hdrCtrl.bpm" class="editing-label" type="text" data-ng-disabled="hdrCtrl.startLoop"/>
        </span>
        <span class="noedit" data-ng-hide="!hdrCtrl.startLoop">{{ hdrCtrl.bpm }}</span>
		<button type=button class="btn btn-success" data-ng-click="hdrCtrl.bpm = hdrCtrl.bpm + 1" data-ng-disabled="hdrCtrl.startLoop"><span class="glyphicon glyphicon-plus"></span></button>
	</div>
</header>
<hr>
