<div id="grid">
	<div data-ng-hide="!mainCtrl.startLoop">
		<span data-ng-repeat="marker in mainCtrl.sampler | filter: {type:'marker'}" class="beatMarker" data-ng-class="mainCtrl.getClass(marker)"></span>
	</div>
	<div>
		<span data-ng-repeat="kick in mainCtrl.sampler | filter: {type:'kick'}" class="box" data-ng-init="kick.on = false" data-ng-class="{'boxsoundon': kick.on}" data-ng-click="kick.on = !kick.on; mainCtrl.playSound(kick)"></span>
	</div>
	<div>
		<span data-ng-repeat="snare in mainCtrl.sampler | filter: {type:'snare'}" class="box" data-ng-init="snare.on = false" data-ng-class="{'boxsoundon': snare.on}" data-ng-click="snare.on = !snare.on; mainCtrl.playSound(snare)"></span>
	</div>
	<div>	
		<span data-ng-repeat="hihat in mainCtrl.sampler | filter: {type:'hihat'}" class="box" data-ng-init="hihat.on = false" data-ng-class="{'boxsoundon': hihat.on}" data-ng-click="hihat.on = !hihat.on; mainCtrl.playSound(hihat)"></span>
	</div>
</div>