.header {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.sampler-container {

    .box {
        height: $box-size;
        border: 0;
        width: $box-size;
        display: inline-block;
        margin: 0px 3px 3px 0px;
        background-color: $box-color;

        &.active {

            background-color: lighten($box-color, 15%);
        }

        &:hover {

            background-color: darken($box-color, 20%);
        }

        &:focus {

            outline: none;
        }
    }
}
