@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);

.sampler-container {
    width: 560px;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.box {
    border-radius: 7px;
    height: 67px;
    width: 67px;
    display: inline-block;
    margin: 0px 3px 3px 0px;
}

.active {
    background-color: #f5713c;
}

.inactive {
    background-color: #80B1C2;
}
