@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);
html body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-weight: 900; }

h2, h3, h4, h5, h6 {
  font-weight: 700; }

.box {
  border-radius: 15px;
  background-color: #80B1C2;
  height: 125px;
  width: 125px;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px #888888;
  margin-right: 2px; }
  .box:hover {
    background-color: #478195; }
  .box:active {
    box-shadow: none; }

.beatMarker {
  border-radius: 15px;
  background-color: #00FF80;
  height: 25px;
  width: 25px;
  margin-left: 50px;
  margin-right: 50px;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px #888888; }

.boxsoundon {
  background-color: #98def7; }

#grid {
  min-width: 1200px; }
