<div id="grid">
	<span data-ng-hide="!startLoop">
		<span data-ng-repeat="marker in markers">
			<span class="beatMarker" data-ng-class="getClass(marker)"></span>
		</span>
	</span>

	<br>

	<span data-ng-repeat="kick in kicks">
		<span class="box" data-ng-init="kick.on = false" data-ng-class="{'boxsoundon': kick.on}" data-ng-click="kick.on = !kick.on; playSound(kick)"></span>
	</span>

	<br>

	<span data-ng-repeat="snare in snares">
		<span class="box" data-ng-init="snare.on = false" data-ng-class="{'boxsoundon': snare.on}" data-ng-click="snare.on = !snare.on; playSound(snare)"></span>
	</span>

	<br>

	<span data-ng-repeat="hihat in hihats">	
		<span class="box" data-ng-init="hihat.on = false" data-ng-class="{'boxsoundon': hihat.on}" data-ng-click="hihat.on = !hihat.on; playSound(hihat)"></span>
	</span>
</div>

<!--<div class="row" >
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">	
		<div class="row">
			<div data-ng-repeat="marker in markers | limitTo: 4">
				<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
					<div class="beatMarker" data-ng-class="getClass(marker)" data-ng-mouseover="" data-ng-click=""></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">	
		<div class="row">
			<div data-ng-repeat="marker in markers | limitTo : -4">
				<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
					<div class="beatMarker" data-ng-class="getClass(marker)" data-ng-mouseover="" data-ng-click=""></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" >
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">	
		<div class="row">
			<div data-ng-repeat="kick in kicks | limitTo: 4">
				<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
					<div class="box" data-ng-init="kick.on = false" data-ng-class="{'boxsoundon': kick.on}" data-ng-click="kick.on = !kick.on; playSound(kick)"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">	
		<div class="row">
			<div data-ng-repeat="kick in kicks | limitTo : -4">
				<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
					<div class="box" data-ng-init="kick.on = false" data-ng-class="{'boxsoundon': kick.on}" data-ng-click="kick.on = !kick.on; playSound(kick)"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" >
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">	
		<div class="row">
			<div data-ng-repeat="snare in snares | limitTo: 4">
				<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
					<div class="box" data-ng-init="snare.on = false" data-ng-class="{'boxsoundon': snare.on}" data-ng-click="snare.on = !snare.on; playSound(snare)"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">	
		<div class="row">
			<div data-ng-repeat="snare in snares | limitTo : -4">
				<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
					<div class="box" data-ng-init="snare.on = false" data-ng-class="{'boxsoundon': snare.on}" data-ng-click="snare.on = !snare.on; playSound(snare)"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" >
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">	
		<div class="row">
			<div data-ng-repeat="hihat in hihats | limitTo: 4">
				<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
					<div class="box" data-ng-init="hihat.on = false" data-ng-class="{'boxsoundon': hihat.on}" data-ng-click="hihat.on = !hihat.on; playSound(hihat)"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">	
		<div class="row">
			<div data-ng-repeat="hihat in hihats | limitTo : -4">
				<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
					<div class="box" data-ng-init="hihat.on = false" data-ng-class="{'boxsoundon': hihat.on}" data-ng-click="hihat.on = !hihat.on; playSound(hihat)"></div>
				</div>
			</div>
		</div>
	</div>
</div>