<div class="row" >
	<div data-ng-repeat="kick in kicks">
		<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
			<div class="box" data-ng-class="{'boxsoundon': kick.on}" data-ng-click="kick.on = !kick.on; playSound(kick.id);"></div>
		</div>
	</div>
</div>

<div class="row" >
	<div data-ng-repeat="snare in snares">
		<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
			<div class="box" data-ng-class="{'boxsoundon': snare.on}" data-ng-click="snare.on = !snare.on; playSound(snare.id);"></div>
		</div>
	</div>
</div>

<div class="row" >
	<div data-ng-repeat="misc in miscs">
		<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">	
			<div class="box" data-ng-class="{'boxsoundon': misc.on}" data-ng-click="misc.on = !misc.on; playSound(misc.id);"></div>
		</div>
	</div>
</div>