<header class=container>
	<div class=row>
		<h1>drummerjs</h1>
		<button type=button class="btn btn-success" data-ng-click="startTimer(); startLoop = !startLoop; paused = false" data-ng-hide="startLoop"><span class="glyphicon glyphicon-play"></span></button>
		<button type=button class="btn btn-success" data-ng-click="pauseTimer(); paused = false;" data-ng-show="startLoop && paused == true"><span class="glyphicon glyphicon-play"></span></button>
		<button type=button class="btn btn-warning" data-ng-click="pauseTimer(); paused = true;" data-ng-show="startLoop && paused == false"><span class="glyphicon glyphicon-pause"></span></button>
		<button type=button class="btn btn-danger" data-ng-click="stopTimer(); startLoop = !startLoop" data-ng-disabled="!startLoop"><span class="glyphicon glyphicon-stop"></span></button>
		<button type=button class="btn btn-info" data-ng-click="clearPads()"><span class="glyphicon glyphicon-trash"></span></button>
	</div>
	<div class=row>
		<h3>BPM:</h3>
		<button type=button class="btn btn-danger" data-ng-click="subtractBpm()" data-ng-disabled="startLoop || bpm == 80"><span class="glyphicon glyphicon-minus"></span></button>
		<span data-ng-hide="startLoop">
        	<label>{{ bpm }}</label>
        </span>
        <span class="noedit" data-ng-hide="!startLoop">{{ bpm }}</span>
		<button type=button class="btn btn-success" data-ng-click="addBpm()" data-ng-disabled="startLoop || bpm == 140"><span class="glyphicon glyphicon-plus"></span></button>
	</div>
</header>
<hr>