@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);

$box-color: #80B1C2;
$box-size: 70;
$shadow: 1px 1px 1px 1px #888888;

html body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 900;
}

h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.box {
    border-radius: 7px;
	background-color: $box-color;
	height: $box-size + px;
	width: $box-size + px;
	display: inline-block;
	box-shadow: $shadow;
	margin-right:3px;
	&:hover {
		background-color: darken($box-color, 20%);
	}
	&:active {
		box-shadow: none;
	}
}

.beatMarker {
	border-radius: 15px;
	background-color: #F5C009;
	height: 12px;
	width: ($box-size / 3) + px;
	margin-left: ($box-size / 3) + 1.5 + px;
	margin-right: ($box-size / 3) + 1.5 + px;
	display: inline-block;
	box-shadow: $shadow;
}

.boxsoundon {
	background-color: lighten(saturate( $box-color, 50% ), 15%);
}

#grid {
	min-width: 1200px;
}