.box {
    border-radius: 15px;
	background-color: #9DC0CC;
	height: 125px;
	width:125px;
	display: inline-block;
	&:hover {
		background-color: #4089A1;
	}
}

.beatMarker {
	border-radius: 15px;
	background-color: #00FF80;
	height: 25px;
	width: 25px;
	margin-left: 50px;
	margin-right: 50px;
	display: inline-block;
}

.boxsoundon {
	background-color: #96DBF2;
}

#grid {
	min-width: 1200px;
}